# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

dist/*
!dist/assets/test-select-picker-dist.css
!dist/assets/test-select-picker-dist.js
!dist/assets/vendor-dist.css
!dist/assets/vendor-dist.js
!dist/crossdomain.xml
!dist/fonts/*
!dist/robots.txt
!dist/screen-shot.png
