<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Setup</h3>
  </div>
  <div class="panel-body">
    <p>To use keyboard support you first need to install the <a href="https://www.npmjs.com/package/ember-keyboard-shortcuts"><code>ember-keyboard-shortcuts</code> addon</a> to your applicaiton project.</p>
    <pre>$ ember install ember-keyboard-shortcuts</pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Single Selection</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        {{keyboard-select-picker content=singleContent
                                 selection=singleValue
                                 optionLabelPath="content.label"
                                 optionValuePath="content.value"}}
      </div>
      <div class="col-sm-8">
{{#highlight-code lang="handlebars"}}
\{{keyboard-select-picker content=singleContent
                         selection=singleValue
                         optionLabelPath="content.label"
                         optionValuePath="content.value"}}
{{/highlight-code}}
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Multiple Selections</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        {{keyboard-select-picker content=multipleContent
                                 selection=multipleValue
                                 multiple="true"
                                 optionGroupPath="group"
                                 optionLabelPath="content.label"
                                 optionValuePath="content.value"}}
      </div>
      <div class="col-sm-8">
{{#highlight-code lang="handlebars"}}
\{{keyboard-select-picker content=multipleContent
                         selection=multipleValue
                         multiple="true"
                         optionGroupPath="group"
                         optionLabelPath="content.label"
                         optionValuePath="content.value"}}
{{/highlight-code}}
      </div>
    </div>
  </div>
</div>
