<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Badges</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        {{select-picker content=multipleContent
                        selection=multipleValue
                        multiple="true"
                        showBadge="true"
                        summaryMessage="Multiple items selected"
                        optionLabelPath="content.label"
                        optionValuePath="content.value"}}
      </div>
      <div class="col-sm-8">
{{#highlight-code lang="handlebars"}}
\{{select-picker content=multipleContent
                selection=multipleValue
                multiple="true"
                showBadge="true"
                summaryMessage="Multiple items selected"
                optionLabelPath="content.label"
                optionValuePath="content.value"}}
{{/highlight-code}}
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mobile Support</h3>
  </div>
  <div class="panel-body">
    <p>By default the native select widget is used for small screens (mobile) If you want the Bootstrap styled picker on mobile devices then you need to set <code>nativeMobile</code> to <em>false</em>.</p>
    <div class="row">
      <div class="col-sm-4">
        {{select-picker content=multipleContent
                        selection=multipleValue
                        multiple="true"
                        nativeMobile="false"
                        optionLabelPath="content.label"
                        optionValuePath="content.value"}}
      </div>
      <div class="col-sm-8">
{{#highlight-code lang="handlebars"}}
\{{select-picker content=multipleContent
                selection=multipleValue
                multiple="true"
                nativeMobile="false"
                optionLabelPath="content.label"
                optionValuePath="content.value"}}
{{/highlight-code}}
      </div>
    </div>
  </div>
</div>
